body {
  margin: 0;
}

/* Colors */

$d-green-1:        #32e9a6;
$d-green-2:        #17c283;
$d-green-3:        #07915e;
$d-green-4:        #046642;

$d-red-1:        #d65b5b;
$d-red-2:        #bc4747;
$d-red-3:        #9f3535;
$d-red-4:        #8d2929;

$l-green-1:        #32e9a6;
$l-green-2:        #17c283;
$l-green-3:        #07915e;
$l-green-4:        #046642;

$l-red-1:        #d65b5b;
$l-red-2:        #bc4747;
$l-red-3:        #9f3535;
$l-red-4:        #8d2929;

$light-red:    #d65b5b;
$red:          #ac2c2c;
$bg-red:       #ac2c2c85;

$orange:       #fabb46;
$dark-purple:  #605bc2;
$light-purple: #8670D3;
$light-purple-t: #8570d345;

$black: #101010;
$white: #ffffff;

/* Dark */

$fg-d-1: #4a4a4a;
$fg-d-2: #3c3c3c;
$fg-d-3: #343434;

$bg-d-1: #2e2e2e;
$bg-d-2: #262626;
$bg-d-3: #1e1e1e;
$bg-d-4: #171717;
$bg-d-5: #101010;

/* Light */

$fg-l-1: #ffffff;
$fg-l-2: #f2f2f2;
$fg-l-3: #e5e5e5;
$bg-l-1: #d8d8d8;
$bg-l-2: #c9c9c9;
$bg-l-3: #bfbfbf;
$bg-l-4: #b4b4b4;
$bg-l-5: #a6a6a6;

/* Radius */

$radius: 5px;