@import '/src/app/styles/global.scss';

.column {

    .column-title {

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $radius;
    }

    .column-title p {
        font-size: 1.2em;
        padding: 5px;
        margin: 0;
    }
}

body.dark {

    .column {

        .column-title {

            color: $white;
            background-color: $bg-d-4;
            border: 1px solid $bg-d-3;
        }
    }
}

body.light {
    
    .column {

        .column-title {
            
            color: $black;
            background-color: $bg-l-4;
            border: 1px solid $bg-l-3;
        }
    }
}