/* Colors */

$green:            #09B174;
$bg-green:         #09b17369;

$light-red:        #d65b5b;
$red:              #ac2c2c;
$bg-red:           #ac2c2c85;

$orange:           #fabb46;
$dark-purple:      #605bc2;

$black:            #101010;

// Dark

$white:            #ffffff;
$light-foreground: #6e6e6e;
$foreground:       #393939;
$light-gray:       #2F2F2F;
$gray:             #242424;
$gray-alt:         #212121;
$dark:             #171717;

// Light

$white-light:            #ffffff;
$light-foreground-light: #e9e9e9;
$foreground-light:       #d4d4d4;
$light-gray-light:       #c2c2c2;
$gray-light:             #afafaf;
$gray-alt-light:         #a3a3a3;
$dark-light:             #9b9b9b;

// Radius

$radius: 5px;