@import './colors/Colors.scss';

.button
{
    color: white;
    text-align: center;
    font-weight: bold;
    margin:  5px;
    padding: 5px;
    border-radius: $radius;
    background-color: $light-gray;
}