@import './colors/Colors.scss';

.header-bar {

    display:   flex;
    position:  fixed;
    font-size: 1.2em;
    padding:   10px;
    width:     100%;
    height:    48px;

    .header-item {

        display: flex;
        width:  100%;

        .header-start{

            display: flex;
            justify-content: start;
            width:  100%;

            .header-logo {

                text-align:    center;
                width:         200px;
                min-width:     100px;
                border-radius: 5px;
                margin-right:  10px;
            }

            .input-bar {

                i{
                    background-color: $foreground;
                }

                .input {
                    background-color: $light-gray;
                }
            }
        }

        .header-end
        {
            display: flex;
            justify-content: end;
            width:  100%;

            .header-account {

                text-align:    center;
                width:         40px;
                border-radius: 5px;
            }
        }
    }
}