@import './colors/Colors.scss';

.sidebar {
    
    flex-direction: column;
    width:          220px;
    height:         100%;
    padding:        10px;
    border-right:   1px solid $gray;

    .sidebar-content
    {
        padding-top: 48px;
       
        .sidebar-buttons {

            text-align: center;
            background-color: $gray;
            border:     1px solid $light-gray;
            border-radius: $radius;
            width:      100%;
            padding:    5px;

            i{
                margin-right: 4px;
            }

            .comming-soon {
                color: $light-foreground;
            }
        }

        .sidebar-projects {

            text-align: center;
            color: $white;
            background-color: $gray;
            border:     1px solid $light-gray;
            border-radius: $radius;
            width:      100%;
            margin-top: 10px;
            padding:    5px;

            i{
                margin-right: 4px;
            }

            .add-button{
                
                .button{
                    background-color: transparent !important;
                }
            }
        }
    }
}
