@import './colors/Colors.scss';

.task-content {

    display:         flex;
    justify-content: center;
    overflow-y:      scroll;
    border-radius:   5px;
    margin-top:      5px;
    height:          100%;
    
    .task-box {

        display:         flex;
        flex-direction:  column;
        overflow-y:      scroll;
        padding:         20px;
        border-radius:   5px;
        width:           100%;
        background-color: $gray-alt;
        border:        1px solid $gray;

        .task {
    
            display:          flex;
            word-break:       break-all;
            flex-direction:   column;
            font-size:        20px;
            width:            100%;
            padding:          20px;
            margin-bottom:    5px;
            border-radius:    5px;
            border:           1px solid $light-gray;
            color:            $white;
            background-color: $gray;

            .task-header {

                display:         flex;
                justify-content: end;
                width:           100%;

                .remove-button {

                    cursor:        pointer;
                    padding:       6px 10px 6px 10px;
                    border-radius: 5px;
                    color:         $light-foreground;
                    background-color: $light-gray;
                    transition: all 0.2s;                    
                }

                .remove-button:hover {
                    background-color: $foreground;
                }
            }

            .task-bottom {

                display: flex;
                width:   100%;

                .task-content
                {
                    display: flex;
                    justify-content: start;
                    flex-direction: column;
        
                    .task-desc
                    {
                        display: flex;
                        font-size: 12px;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

