@import '/src/app/styles/global.scss';

.tag {

    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    font-size: .9em;
    border-radius: $radius;
}

body.dark {

    .tag {
        
        color: $white;

        border: 1px solid $bg-d-1;
        background-color: $bg-d-2;
    }
}

body.light {
    
    .tag {

        color: $black;

        border: 1px solid $bg-l-1;
        background-color: $bg-l-2;
    }
}