@import '/src/app/styles/global.scss';

.empty-content {
                
  display: flex;
  flex-direction:  column;
  justify-content: center;

  p {

    display: flex;
    font-weight: bold;
    width:   100%;
    opacity: 0.1;
    justify-content: center;
  }

  .not-found {

    display: flex;
    width:   100%;
    justify-content: center;

    img {
        min-width:  10%;
        max-width:  20%;
        margin-top: 20px;
        opacity:    0.1;
    }
  }
}

.project-header {

  display:       flex;
  width:         100%;
  word-break:    break-all;
  margin-bottom: 20px;

  .project-name {
    
    display:          flex;
    justify-content:  flex-start;
    align-items:      center;
    align-content:    center;
    align-self:       center;
    width:            100%;
    font-size:        1.6em;
    max-height:       100px;
    overflow-y:       scroll;
    border-radius:    5px;

    .icon-project-name {

      display: flex;
      justify-content: center;
      align-items:     center;
      align-content:   center;
      align-self:      center;
      width:  40px;
      height: 40px;
      padding: 5px;
      border-radius: $radius;
    }

    p {

      padding: 0;
      margin:  0 5px;
    }

    ::-webkit-scrollbar {    

      display: none;
    }
  }
}

.input-bar-1 {
      
  display: flex;
  width:   100%;
  gap:     10px;
  
  .error-task-input {

    transition: all .2s;
  }

  .button {
    
      text-align: center;
      font-size:  2.6em;
      padding:    0px 10px;
      cursor:     pointer;
      transition: all 0.2s;

      i {
        background-color: transparent;
      }
  }

  .task-inputs {

    display:          flex;
    flex-direction:   column;
    font-size:        15px;
    padding:          5px;
    width:            100%;
    border-radius:    5px;
    transition:       all 0.2s ;

    .input-bar {

      display: flex;
      width:   100%;
      padding: 0;

      .inner-input {

        display: flex;
        width:   100%;
        padding: 0;
        border:  none;
        background-color: transparent;

        .input {

          display:        flex;
          width:          100%;
          border-radius:  5px;
          background-color: transparent;
        }
      }
    }
  }
}

body.dark {

  .empty-content {
                
    color: $white;
  }
  
  .project-header {
  
    color: $white;
  
    .project-name {
      
      .icon-project-name {
  
        border: 1px solid $bg-d-3;
        background-color: $bg-d-4;
      }
    }
  }
  
  .input-bar {
        
    .error-task-input {
  
      background-color: $bg-red    !important;
      border: 1px solid $light-red !important;
      
      svg {
        color: $light-red !important;
      }
    }
  
    .button {
      
      color:            $fg-d-2;
      background-color: $bg-d-3;
      border:           1px solid $bg-d-2;
    }
  
    .button:hover {
      
      border:           1px solid $green !important;
      color:            $green;
      background-color: $bg-green;
    }
  
    .task-inputs {
  
      background-color: $bg-d-4;
      border:           1px solid $bg-d-3;
  
      .input-bar {
  
        .inner-input {
  
          .input {
  
            color: $white;
          }
        }
      }
    }
  }
}

body.light {

  .empty-content {
                
    color: $black;
  }
  
  .project-header {
  
    color: $black;
  
    .project-name {
      
      .icon-project-name {
  
        border: 1px solid $bg-l-4;
        background-color: $bg-l-5;
      }
    }
  }
  
  .input-bar {
        
    .error-task-input {
  
      background-color: $bg-red    !important;
      border: 1px solid $light-red !important;
      
      svg {
        color: $light-red !important;
      }
    }
  
    .button {
      
      color:            $bg-l-2;
      background-color: $bg-l-3;
      border:           1px solid $bg-l-2;
    }
  
    .button:hover {
      
      border:           1px solid $green !important;
      color:            $green;
      background-color: $bg-green;
    }
  
    .task-inputs {
  
      background-color: $bg-l-4;
      border:           1px solid $bg-l-3;
  
      .input-bar {
  
        .inner-input {
  
          .input {
  
            color: $black;
          }
        }
      }
    }
  }
}