@import '/src/app/styles/global.scss';

.dashboard-count {

    display: flex;
    position: absolute;

    text-shadow: 0px 0px 5px $black;
}

body.dark {
    
    .dashboard-count {
        color: $white;
    }
}

body.light {

    .dashboard-count {
        color: $white;
    }
}