@import '../../colors/Colors.scss';

.header-bar {

    display:   flex;
    position:  fixed;
    font-size: 1.2em;
    width:     100%;
    height:    28px;
    padding:   10px 0;
    border-bottom:   1px solid $light-gray;
    background-color: $gray-alt;

    .header-item {

        display: flex;
        width:  100%;

        .header-start {

            display: flex;
            width:        100%;
            padding-left: 10px;
            justify-content: flex-start;
            gap: 5px;
            color: $white;

            img { margin-right: 10px;}

            .header-logo {

                display:          flex;
                justify-content:  flex-start;
                min-width:        100px;
                border-radius:    $radius;
                background-color: $light-gray;

                .site-title {
                    display: flex;
                    margin: 0px 5px;
                }

                .site-title p {
                    display: flex; 
                    padding:0; 
                    margin:0; 
                    align-content: center;
                    align-self: center;
                }

                p{
                    animation: typing 2s steps(14, end);
                    overflow: hidden;
                }

                @keyframes typing {

                    0%{
                        width: 0;
                    }

                    50%{
                        width: 0;
                    }

                    100%{
                        width: 100%;
                    }
                }

                .title-cursor {
                    font-weight: bold;
                    animation: blink .6s infinite;
                }

                @keyframes blink {
                    to {
                        opacity: 0;
                    }
                }
            }

            .input-bar {
                .inner-input {

                    padding: 0 !important;

                    input {
                        color: $white;
                        width: 140px;
                        padding-left: 5px;
                    }
                }
            }
        }

        .header-end {

            display: flex;
            justify-content: flex-end;
            padding-right: 10px;
            width:  100%;
            gap:    5px;

            .switch-color {
                
                display: flex;
                width:   28px;
                height:  100%;
                justify-content: center;
                align-content:   center;
                align-self:      center;
                align-items:     center;
                
                :hover {color: $orange;}
            }

            .user-name {
                
                display:          flex;
                align-items:      center;
                align-content:    center;
                color:            $white;
                font-size:        .9em;
                padding:          0 10px;
                border-radius:    $radius;
                border:           1px solid $foreground;
                background-color: $light-gray;
            }

            .header-account {

                display: flex;
                height:  100%;
                width:   28px;
                justify-content: center;
                align-content:   center;
                align-self:      center;
                align-items:     center;
            }
        }
    }
}

body.light {

}