@import '../../colors/Colors.scss';

.sidebar {
    
    flex-direction:   column;
    width:            220px;
    height:           100%;
    padding:          10px;
    border-right:     1px solid $gray;
    background-color: $dark;

    .sidebar-content {

        display:     flex;
        width:       100%;
        padding-top: 48px;
        gap:         5px;
        justify-content: center;
        flex-direction:  column;
       
        .todo-home {

            padding: 5px;
            background-color: $gray-alt;
            border: 1px solid $light-gray;
        }

        .todo-home:hover {
            
            background-color: $dark-purple;
            border: 1px solid $light-purple;
            box-shadow: inset 0px 0px 2px black;
        }

        .home-selected {

            background-color: $gray;
            border: 1px solid $dark-purple;
        }

        .sidebar-buttons {

            display: flex;
            gap:     5px;
            padding: 5px;
            background-color: $gray;
            border:     1px solid $light-gray;
            flex-direction: column;
            text-align: center;
            border-radius: $radius;

            .button {

                background-color: $light-gray;
                border:           1px solid $gray;
                border-bottom:    3px solid $gray-alt;
                outline:          1px solid $foreground;
            }

            .selected {

                background-color: $foreground !important;
                border:           1px solid $light-gray !important;
                border-bottom:    1px solid $gray !important;
                outline:          1px solid $light-foreground !important;
            }
        }
        .projects-header {
            
            color:   $white;
            display: flex;
            width:   100%;
            padding: 5px;
            justify-content: center;
            align-items:     center;
            align-self:      center;
            align-content:   center;
            text-align:      center;
        }

        .projects-content {

            display:        flex;
            overflow-y:     scroll;
            flex-direction: column;
            word-break:     break-all;
            width:          100%;
            max-height:     400px;
            gap:            5px;
            border-radius:  $radius;
            border: 1px solid $gray;
            background-color: $gray-alt;

            span {
                display: flex;
                padding: 5px;
                justify-content: flex-end;

                .porject-type-tag {
                    display: flex;
                    font-size: .7em;
                    padding: 2px;
                    border-radius: $radius;
                    color: $white;
                    background-color: $gray;
                    border: 1px solid $light-gray
                }
            }

            .empty-content {
                
                display: flex;
                flex-direction:  column;
                justify-content: center;
                color: $white;

                p {
                    display: flex;
                    font-weight: bold;
                    width:   100%;
                    opacity: 0.1;
                    justify-content: center;
                }

                .not-found {
                    display: flex;
                    width:   100%;
                    justify-content: center;

                    img {
                        width: 40%;
                        margin-top: 20px;
                        opacity: 0.1;
                    }
                }
            }

            button {

                display: flex;
                justify-content: flex-start;
                background-color: $light-gray;
                border:           1px solid $gray;
                border-bottom:    3px solid $gray-alt;
                outline:          1px solid $foreground;
                gap: 5px;
            }

            ::-webkit-scrollbar {
    
                display: none;
            }
        }
        .add-button {

            display: flex;
            width:   100%;
            justify-content: center;

            .button {

                border-radius: $radius;
                width:         30px;
                height:        30px;
                background-color: transparent;
            }

            .button:hover {
                transform: scale(1.1);
            }

            svg {
                margin-top: 5px;
            }
        }
    }
}

.sidebar-mini {
    
    flex-direction:   column;
    width:            60px;
    height:           100%;
    padding:          10px;
    border-right:     1px solid $gray;
    background-color: $dark;

    flex-direction:   column;
    width:            220px;
    height:           100%;
    padding:          10px;
    border-right:     1px solid $gray;
    background-color: $dark;

    .sidebar-content {

        display:     flex;
        width:       100%;
        padding-top: 48px;
        gap:         5px;
        justify-content: center;
        flex-direction:  column;
        
        .todo-home {

            padding: 5px;
            background-color: $gray-alt;
            border: 1px solid $light-gray;
        }

        .todo-home:hover {
            
            background-color: $dark-purple;
            border: 1px solid $light-purple;
            box-shadow: inset 0px 0px 2px black;
        }

        .home-selected {

            background-color: $gray;
            border: 1px solid $dark-purple;
        }

        .sidebar-buttons {

            display: flex;
            gap:     5px;
            padding: 5px;
            background-color: $gray;
            border:     1px solid $light-gray;
            flex-direction: column;
            text-align: center;
            border-radius: $radius;

            .button {

                background-color: $light-gray;
                border:           1px solid $gray;
                border-bottom:    3px solid $gray-alt;
                outline:          1px solid $foreground;
            }

            .selected {

                background-color: $foreground !important;
                border:           1px solid $light-gray !important;
                border-bottom:    1px solid $gray !important;
                outline:          1px solid $light-foreground !important;
            }
        }

        .sidebar-projects {

            display: flex;
            width:   100%;
            flex-direction: column;
            background-color: $gray;
            border:     1px solid $light-gray;
            border-radius: $radius;

            .projects-header {
                
                color:   $white;
                display: flex;
                width:   100%;
                padding: 5px;
                justify-content: center;
                align-items:     center;
                align-self:      center;
                align-content:   center;
                text-align:      center;
            }

            .projects-content {

                display:        flex;
                overflow-y:     scroll;
                flex-direction: column;
                word-break:     break-all;
                width:          100%;
                max-height:     400px;
                gap:            5px;
    
                button {

                    display: flex;
                    justify-content: flex-start;
                    background-color: $light-gray;
                    border:           1px solid $gray;
                    border-bottom:    3px solid $gray-alt;
                    outline:          1px solid $foreground;
                    gap: 5px;
                }

                ::-webkit-scrollbar {
        
                    display: none;
                }
            }
        }
        .add-button {

            display: flex;
            width:   100%;
            justify-content: center;

            .button {

                border-radius: $radius;
                width:         30px;
                height:        30px;
                background-color: transparent;
            }

            .button:hover {
                transform: scale(1.1);
            }

            svg {
                margin-top: 5px;
            }
        }
    }
}

body.light {

}