/* Colors */

$white:            #ffffff;
$light-foreground: #6e6e6e;
$foreground:       #393939;
$light-gray:       #2F2F2F;
$gray:             #242424;
$gray-alt:         #212121;
$dark:             #171717;

/* Radius */

$radius: 5px;