/* Colors */

$white:            #ffffff;
$light-foreground: #6e6e6e;
$foreground:       #393939;
$light-gray:       #2F2F2F;
$gray:             #242424;
$gray-alt:         #212121;
$dark:             #171717;

$green:            #09B174;
$bg-green:         #3a4e47;

$red:              #ac2c2c;
$bg-red:           #502727;

/* Radius */

$radius: 5px;