@import './colors/Colors.scss';

.button
{
    cursor: pointer;
    color: white;
    text-align: center;
    font-weight: bold;
    margin:  5px;
    padding: 5px;
    border-radius: $radius;
    background-color: $light-gray;
    border: 1px solid $light-gray;
    transition: all 0.2s;

    .selected
    {
        background-color: $foreground;
        border: 1px solid $light-foreground;
    }
}

.button:hover
{
    background-color: $foreground;
    border: 1px solid $light-foreground;
}

body.light {

    .button
    {
        cursor: pointer;
        color: $black;
        text-align: center;
        font-weight: bold;
        margin:  5px;
        padding: 5px;
        border-radius: $radius;
        background-color: $light-gray-light;
        border: 1px solid $light-foreground-light;
        transition: all 0.2s;

        .selected
        {
            background-color: $light-gray-light;
            border: 1px solid $light-foreground-light;
        }
    }

    .button:hover
    {
        background-color: $foreground-light;
        border: 1px solid $white;
    }
}