@import '../colors/Colors.scss';

.button
{
    cursor: pointer;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: $light-gray;
    border: 1px solid $light-gray;
    transition: all 0.2s;
    border-radius: $radius;

    .selected
    {
        background-color: $foreground;
        border: 1px solid $light-foreground;
    }
}

.button:hover
{
    background-color: $foreground;
    border: 1px solid $light-foreground;
}

body.light {

    .button
    {
        color: $black;
        background-color: $light-gray-light;
        border: 1px solid $light-foreground-light;

        .selected
        {
            background-color: $light-gray-light;
            border: 1px solid $light-foreground-light;
        }
    }

    .button:hover
    {
        background-color: $foreground-light;
        border: 1px solid $white;
    }
}