@import '../colors/Colors.scss';

.not-done {
    
    transition: ease-in-out 0.1s;
}

.task-done {

    transition:       ease-in-out 0.2s;
    text-decoration:  line-through !important;
}

.task-box-area {

    display:          flex;
    justify-content:  center;
    margin-top:       10px;
    width:            100%;
    height:           100%;
    border-radius:    $radius;
    overflow-y:         scroll;
    -ms-overflow-style: none;
    scrollbar-width:    none;
    
    .task-box {

        display:        flex;
        width:          100%;
        flex-direction: column;
        padding:        20px;
        
        .task {

            display:          flex;
            word-break:       break-all;
            flex-direction:   column;
            font-size:        20px;
            padding:          20px;
            margin-bottom:    5px;
            border-radius:    $radius;

            .task-header {

                display:         flex;
                justify-content: flex-end;
                width:           100%;

                .remove-button,.done-button {

                    display:       flex;
                    justify-content: center;
                    cursor:        pointer;
                    width:         45px;
                    height:        40px;
                    margin:        0 2px;
                    transition:     all 0.2s;
                    border-radius:  $radius;   
                    align-items:    center;
                    align-content:  center;
                }
            }

            .task-bottom {

                display: flex;
                width:   100%;

                .task-content
                {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                }
            }

            .task-desc
            {
                display: flex;
                font-size: 12px;
                font-style: italic;
            }
        }
    }
}

.kanban {

    display:    flex;
    height:     100%;
    width:      100%;
    max-height: 100%;
    max-width:  100%;
    overflow-y: hidden;
    overflow-x: hidden;

    .task-content {

        display:    flex;
        width:      100%;
        margin:     0 !important;

        .kanban-area {

            display: flex;
            width:   100%;
            height:  100%;
            padding: 10px;
            gap:     5px;
            border-radius: $radius;
        
            .kanban-box {
        
                display:        flex;
                flex-direction: column;
                width:          100%;
                overflow-y:     scroll;

                .kanban-title {

                    border-radius: $radius;
                    margin-bottom: 5px;
                }
        
                .task-box {

                    display:          flex;
                    flex-direction:   column;
                    overflow-y:       scroll;
                    padding:          20px;
                    width:            100%;
                    height:           100%;
                    border-radius:    $radius;

                    .task-header {

                        display:         flex;
                        justify-content: flex-end;
                        width:           100%;
        
                        .remove-button,.done-button {
        
                            width:         75px;
                            height:        40px;
                        }
                       
                    }
                }
            }
        }
    }
}

body.dark {

    .task-done {
    
        border: 1px solid $green !important;
        background-color: $bg-green !important;
    }
    
    .task-box-area {
    
        border: 1px solid $bg-d-3;
        background-color: $bg-d-4;
        
        .task-box {
    
            .task {
    
                color: $white;
                border: 1px solid $bg-d-2;
                background-color: $bg-d-3;
    
                .task-header {
    
                    .remove-button,.done-button {
    
                        color: $fg-d-3;
                        border: 1px solid $bg-d-1;
                        background-color: $bg-d-2;
                    }
    
                    .remove-button:hover {
    
                        color: $red;
                        border: 1px solid $red;
                        background-color: $bg-red;
                    }
    
                    .done-button:hover {
    
                        color: $green;
                        border: 1px solid $green;
                        background-color: $bg-green;
                    }
                }
            }
        }
    }
    
    .kanban {
    
        .task-content {
    
            .kanban-area {
    
                border:  1px solid $bg-d-4;
                background-color: $bg-d-5;
            
                .kanban-box {
            
                    .kanban-title {
    
                        color: $white;
                    }
            
                    .task-box {
    
                        border: 1px solid $bg-d-3;
                        background-color: $bg-d-4;
                    }
                }
            }
        }
    }
}

body.light {

    .task-done {
    
        border: 1px solid $green !important;
        background-color: $bg-green !important;
    }
    
    .task-box-area {
    
        border: 1px solid $bg-l-3;
        background-color: $bg-l-4;
        
        .task-box {
    
            .task {
    
                color: $black;
                border: 1px solid $bg-l-2;
                background-color: $bg-l-3;
    
                .task-header {
    
                    .remove-button,.done-button {
    
                        color: $fg-l-3;
                        border: 1px solid $bg-l-1;
                        background-color: $bg-l-2;
                    }
    
                    .remove-button:hover {
    
                        color: $red;
                        border: 1px solid $red;
                        background-color: $bg-red;
                    }
    
                    .done-button:hover {
    
                        color: $green;
                        border: 1px solid $green;
                        background-color: $bg-green;
                    }
                }
            }
        }
    }
    
    .kanban {
    
        .task-content {
    
            .kanban-area {
    
                border:  1px solid $bg-l-4;
                background-color: $bg-l-5;
            
                .kanban-box {
            
                    .kanban-title {
    
                        color: $black;
                    }
            
                    .task-box {
    
                        border: 1px solid $bg-l-3;
                        background-color: $bg-l-4;
                    }
                }
            }
        }
    }
}