@import '../colors/Colors.scss';

.input-bar {

    display: flex;
    
    svg {
        text-align:    center;
        padding:       0 2px;
        font-size:     .9em;
    }

    .input {
        
        font-size: .9em;
        color:  $white;
        outline: none;
        padding: 10px;
        border-radius: $radius;
        background-color: $gray;
        border: 1px solid $light-gray;
    }
}

.error {

    transition: all .2s;

    input {

        background-color: $bg-red    !important;
        border: 1px solid $light-red !important;
    }
}

input::placeholder
{
    opacity: 0.5;
    color: $light-foreground;
}