@import './colors/Colors.scss';

.input-bar {

    display: flex;
    
    svg {
        text-align:    center;
        padding:       0 2px;
        font-size:     .9em;
    }

    .input {
        font-size: 15px;
        color: $white;
        outline: none;
        width:   120px;
        padding: 0px 0px 0px 5px;
        border:  none;
    }
}

input::placeholder
{
    opacity: 0.5;
    color: $light-foreground;
}