@import './colors/Colors.scss';

.select-content {

    display: flex;
    flex-direction: column;
    width:   100%;

    .select-group {

        display: flex;

        .input-select {

            font-size:        15px;
            color:            $white;
            border-radius:    5px;
            background-color: $gray;
            border: 1px solid $light-gray;
        }
    }
}