@import './colors/Colors.scss';

.sidebar {
    
    flex-direction:   column;
    width:            220px;
    height:           100%;
    padding:          10px;
    border-right:     1px solid $gray;
    background-color: $dark;

    svg {
        margin-right: 2px;
    }

    .sidebar-content {

        display: flex;
        width:   100%;
        justify-content: center;
        flex-direction:  column;

        padding-top: 48px;
       
        .todo-home {
            background-color: $gray-alt;
            border: 1px solid $light-gray;
        }

        .todo-home:hover {
            background-color: $dark-purple;
            border: 2px solid $light-purple;
            box-shadow: inset 0px 0px 2px black;
        }

        .home-selected {
            background-color: $gray;
            border: 2px solid $dark-purple;
        }

        .sidebar-buttons {

            display: flex;
            width:   100%;
            flex-direction: column;
            text-align: center;
            background-color: $gray;
            border:     1px solid $light-gray;
            padding:    5px;
            border-radius: $radius;
        }

        .sidebar-projects {

            display: flex;
            width:   100%;
            flex-direction: column;
            background-color: $gray;
            border:     1px solid $light-gray;
            border-radius: $radius;

            .projects-header {

                text-align: center;
                word-break: break-all;
                color: $white;
                width:      100%;
                padding:    5px;
            }

            .projects-content {

                display:        flex;
                overflow-y:     scroll;
                flex-direction: column;
                word-break:     break-all;
                width:          100%;
                max-height:     400px;
                padding:        5px;
                gap:            5px;

                button {

                    display: flex;
                    justify-content: flex-start;
                    gap: 5px;

                    svg {
                        margin-top:  2px; 
                        margin-left: 5px;
                    }
                }

                ::-webkit-scrollbar {
        
                    display: none;
                }
            }
        }
        .add-button {

            display: flex;
            width:   100%;
            justify-content: center;

            .button {

                margin-top:    5px;
                border-radius: $radius;
                width:         30px;
                height:        30px;
                background-color: transparent;
            }

            .button:hover {
                transform: scale(1.1);
            }

            svg {
                margin-top: 5px;
            }
        }
    }
}

.sidebar-mini {
    
    flex-direction:   column;
    width:            60px;
    height:           100%;
    padding:          10px;
    border-right:     1px solid $gray;
    background-color: $dark;

     svg {
        margin-right: 0px;
    }

    .sidebar-content {
        
        display: flex;
        width:   100%;
        flex-direction: column;
        padding-top: 48px;
       
        .todo-home {
            background-color: $gray-alt;
            border: 1px solid $light-gray;
        }

        .todo-home:hover {
            background-color: $dark-purple;
            border: 2px solid $light-purple;
            box-shadow: inset 0px 0px 2px black;
        }

        .home-selected {
            background-color: $gray;
            border: 2px solid $dark-purple;
        }

        .sidebar-buttons {

            display: flex;
            width:   100%;
            flex-direction: column;
            text-align: center;
            background-color: $gray;
            border:     1px solid $light-gray;
            padding:    5px;
            border-radius: $radius;
        }

        .sidebar-projects {

            display: flex;
            width:   100%;
            flex-direction: column;

            .projects-header {

                text-align: center;
                word-break: break-all;
                color:      transparent;
                width:      0;
                padding:    0;
            }

            .projects-content {
                
                display:          flex;
                justify-content:  center;
                text-align:       center;
                flex-direction:   column;
                overflow-y:       scroll;
                width:            100%;
                padding:          5px;
                max-height:       400px;
                gap:              5px;
                background-color: $gray;
                border-radius:    $radius;

                button {

                    display: flex;
                    justify-content: center;
                    width:  100%;
                    height: 28px;

                    svg {
                        margin-top: 5px;
                    }
                }

                ::-webkit-scrollbar {
        
                    display: none;
                }
            }
        }
        .add-button {

            display:    flex;
            width:      100%;
            margin-top: 5px;

            .button {

                display: flex;
                justify-content: center;
                width:  100%;
                height: 28px;
                border-radius: $radius;
                background-color: transparent;

                svg {
                    margin-top: 5px;
                }
            }
        }
    }
}
.selected {
    background-color: $foreground;
    border: solid 1px $light-foreground;
}


body.light {

    .sidebar {
        
        border-right:   1px solid $white-light;
        background-color: $light-gray-light;

        .sidebar-content
        {
            .sidebar-buttons {

                background-color: $gray-light;
                border:     1px solid $foreground-light;

                .comming-soon {
                    color: $foreground-light;
                }
            }

            .sidebar-projects {

                color:      $black;
                background-color: $gray-light;
                border:     1px solid $foreground-light;
            }

            .add-button{

                .button{
                    background-color: transparent;
                }
            }
        }
    }

    .selected {
        background-color: $foreground-light;
        border: solid 1px $white-light;
    }
}