@import './colors/Colors.scss';

.sidebar {
    
    flex-direction:   column;
    width:            220px;
    height:           100%;
    padding:          10px;
    border-right:     1px solid $gray;
    background-color: $dark;

    .sidebar-content
    {
        padding-top: 48px;
       
        .sidebar-buttons {

            text-align: center;
            background-color: $gray;
            border:     1px solid $light-gray;
            width:      100%;
            padding:    5px;
            border-radius: $radius;

            svg {
                margin-right: 2px;
            }
        }

        .sidebar-projects {

            text-align: center;
            word-break: break-all;
            color: $white;
            background-color: $gray;
            border:     1px solid $light-gray;
            width:      100%;
            margin-top: 10px;
            padding:    5px;
            border-radius: $radius;

            .projects-content {
                
                max-height: 400px;
                overflow-y: scroll;

                ::-webkit-scrollbar {
        
                    display: none;
                }
            }
        }
        .add-button {

            .button{
                border-radius: $radius;
                margin: 10px 0px 0px 0px;
                background-color: transparent;
            }
        }
    }
}
.selected {
    background-color: $foreground;
    border: solid 1px $light-foreground;
}


body.light {

    .sidebar {
        
        border-right:   1px solid $white-light;
        background-color: $light-gray-light;

        .sidebar-content
        {
            .sidebar-buttons {

                background-color: $gray-light;
                border:     1px solid $foreground-light;

                .comming-soon {
                    color: $foreground-light;
                }
            }

            .sidebar-projects {

                color:      $black;
                background-color: $gray-light;
                border:     1px solid $foreground-light;
            }

            .add-button{

                .button{
                    background-color: transparent;
                }
            }
        }
    }

    .selected {
        background-color: $foreground-light;
        border: solid 1px $white-light;
    }
}