@import './colors/Colors.scss';

.not-done 
{
    transition: ease-in-out 0.1s;
}

.task-done {
    transition:       ease-in-out 0.2s;
    text-decoration:  line-through !important;
    border:           1px solid $green !important;
    background-color: $bg-green !important;
}

.task-content {

    display:         flex;
    justify-content: center;
    overflow-y:      scroll;
    border-radius:   5px;
    margin-top:      5px;
    
    .task-box {

        display:          flex;
        flex-direction:   column;
        overflow-y:       scroll;
        padding:          20px;
        border-radius:    5px;
        width:            100%;
        border:           1px solid $gray;
        background-color: $gray-alt;
        
        .task {

            display:          flex;
            word-break:       break-all;
            flex-direction:   column;
            position:         relative;
            font-size:        20px;
            width:            100%;
            padding:          20px;
            margin-bottom:    5px;
            border-radius:    5px;
            border:           1px solid $light-gray;
            color:            $white;
            background-color: $gray;

            .task-header {

                display:         flex;
                justify-content: end;
                width:           100%;

                .remove-button {

                    cursor:        pointer;
                    border:        1px solid $foreground;
                    padding:       6px 12px 6px 12px;
                    border-radius: 5px;
                    margin:        0px 2px 0px 2px;
                    color:         $light-foreground;
                    background-color: $light-gray;
                    transition: all 0.2s;                    
                }

                .remove-button:hover {
                    border: 1px solid $red;
                    color:            $red;
                    background-color: $bg-red;
                }

                .done-button {

                    cursor:        pointer;
                    border:        1px solid $foreground;
                    padding:       6px 10px 6px 10px;
                    border-radius: 5px;
                    margin:        0px 2px 0px 2px;
                    color:         $light-foreground;
                    background-color: $light-gray;
                    transition: all 0.2s;                    
                }

                .done-button:hover {

                    border: 1px solid $green;
                    color:            $green;
                    background-color: $bg-green;
                }
            }

            .task-bottom {

                display: flex;
                width:   100%;

                .task-content
                {
                    display: flex;
                    justify-content: start;
                    flex-direction: column;
                }
            }

            .task-desc
            {
                display: flex;
                font-size: 12px;
                font-style: italic;
            }
        }
    }
}

body.light {

    .not-done 
    {
        transition: ease-in-out 0.1s;
    }

    .task-done {
        transition:       ease-in-out 0.2s;
        text-decoration:  line-through !important;
        border:           1px solid $green !important;
        background-color: $bg-green !important;
    }

    .task-content {

        display:         flex;
        justify-content: center;
        overflow-y:      scroll;
        border-radius:   5px;
        margin-top:      5px;
        
        .task-box {

            display:          flex;
            flex-direction:   column;
            overflow-y:       scroll;
            padding:          20px;
            border-radius:    5px;
            width:            100%;
            border:           1px solid $white-light;
            background-color: $foreground-light;
            
            .task {

                display:          flex;
                word-break:       break-all;
                flex-direction:   column;
                position:         relative;
                font-size:        20px;
                width:            100%;
                padding:          20px;
                margin-bottom:    5px;
                border-radius:    5px;
                border:           1px solid $light-foreground-light;
                color:            $black;
                background-color: $light-gray-light;

                .task-header {

                    display:         flex;
                    justify-content: end;
                    width:           100%;

                    .remove-button {

                        cursor:        pointer;
                        border:        1px solid $white-light;
                        padding:       6px 12px 6px 12px;
                        border-radius: 5px;
                        margin:        0px 2px 0px 2px;
                        color:         $light-foreground-light;
                        background-color: $foreground-light;
                        transition: all 0.2s;                    
                    }

                    .remove-button:hover {
                        border: 1px solid $red;
                        color:            $red;
                        background-color: $bg-red;
                    }

                    .done-button {

                        cursor:        pointer;
                        border:        1px solid $white-light;
                        padding:       6px 10px 6px 10px;
                        border-radius: 5px;
                        margin:        0px 2px 0px 2px;
                        color:         $light-foreground-light;
                        background-color: $foreground-light;
                        transition: all 0.2s;                    
                    }

                    .done-button:hover {

                        border: 1px solid $green;
                        color:            $green;
                        background-color: $bg-green;
                    }
                }

                .task-bottom {

                    display: flex;
                    width:   100%;

                    .task-content
                    {
                        display: flex;
                        justify-content: start;
                        flex-direction: column;
                    }
                }

                .task-desc
                {
                    display: flex;
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
    }
}