@import '/src/app/styles/global.scss';

.header-bar {

    display:   flex;
    position:  fixed;
    font-size: 1.2em;
    width:     100%;
    height:    28px;
    padding:   10px 0;

    button {

        display: flex;
        justify-content: center;
        align-items: center;

        width:  28px;
        height: 100%;
    }
}

body.dark {

    .header-bar {

        border-bottom: 1px solid $bg-d-2;
        background-color: $bg-d-3;
    }
}

body.light {

    .header-bar {

        border-bottom: 1px solid $bg-l-2;
        background-color: $bg-l-3;
    }
}