@import '/src/app/styles/global.scss';

.modal-header {

    position: absolute;
    right: -20px;
    top:   -20px;

    .button {
        
        display: flex;
        width:  40px;
        height: 40px;
        font-size: 20px;
        border-radius: 100%;
    }
}

body.dark {

    .modal-header {

        .button {
            color: $white;
            background-color: $red;
            border: 1px solid $light-red;
        }
    }
}

body.light {

    .modal-header {

        .button {
            color: $white;
            background-color: $red;
            border: 1px solid $light-red;
        }
    }
}