@import '/src/app/styles/global.scss';

.modal-footer {

    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;

    .button {

        padding: 10px;
        transition: all .1s;

        p { margin: 0; }
    }
}

body.dark {

    .modal-footer {

        .button {
            
            color: $white;
            border: 0;
            background-color: $bg-d-3;
            outline: 1px solid $bg-d-2;
            border-bottom: 2px solid $bg-d-4;
        }

        .button:hover {

            background-color: $bg-d-2;
            outline: 1px solid $bg-d-1;
        }

        .button:active {

            background-color: $bg-d-1;
            outline: 1px solid $fg-d-1;
            border-bottom: 0px;
        }
    }
}

body.light {

    .modal-footer {

        .button {
            
            color: $white;
            border: 0;
            background-color: $bg-l-3;
            outline: 1px solid $bg-l-2;
            border-bottom: 2px solid $bg-l-4;
        }

        .button:hover {

            background-color: $bg-l-2;
            outline: 1px solid $bg-l-1;
        }

        .button:active {

            background-color: $bg-l-1;
            outline: 1px solid $fg-l-1;
            border-bottom: 0px;
        }
    }
}