@import '/src/app/styles/global.scss';

.kanban-section-area{
    
    display: flex;
    gap: 5px;
    height: 100%;
    min-height: 0%;
    overflow-x: scroll;

    .column {

        .column-body {
            padding: 0 !important;
            width: auto !important;

            .drop-column {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 5px;
                height:  100%;
            }
        }
    }
}