@import '/src/app/styles/global.scss';

.content {

    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 5px;

    .task-input-bar {

        display: flex;
        width: 100%;
        gap: 5px;
        
        .task-inputs {

            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 5px;
            gap: 5px;
            border-radius: $radius;

            .input {

                .input-bar {

                    input {
                        padding: 5px;
                        width: 100%;
                    }
                }
            }
        }

        .button {
            transition: all .2s;
            width: 50px;
        }
    }    
}

body.dark {

    .content {

        .task-input-bar {
    
            .task-inputs {

                border: 1px solid $bg-d-3;
                background-color: $bg-d-4;
    
                .input {
    
                    .input-bar {
    
                        background-color: $bg-d-3;
                    }
                }
            }
    
            .button {

                background-color: $bg-d-4;
                color: $bg-d-1;
                border: 1px solid $bg-d-3;
            }

            .button:hover {

                background-color: $d-green-4;
                color: $d-green-2;
                border: 1px solid $d-green-2;
            }
        }
    }
}

body.light {

    .content {

        .task-input-bar {
    
            .task-inputs {

                border: 1px solid $bg-l-3;
                background-color: $bg-l-4;
    
                .input {
    
                    .input-bar {
    
                        background-color: $bg-l-3;
                    }
                }
            }
    
            .button {

                background-color: $bg-l-4;
                color: $bg-l-1;
                border: 1px solid $bg-l-3;
            }

            .button:hover {

                background-color: $l-green-4;
                color: $l-green-2;
                border: 1px solid $l-green-2;
            }

            .not-found img{
                opacity: 0.1;
             }
        }
    }
}