@import '/src/app/styles/global.scss';

.input-bar {

    display: flex;
    align-items: center;

    .input-icon {

        display: flex;
        align-items: center;
        font-size: .8em;
        padding: 5px;
    }

    input {
        outline: none;
    }
}

body.dark {

    .input-bar {

        border: 1px solid $bg-d-1;
        background-color: $bg-d-2;
        border-radius:    $radius;
        transition: all .2s;
        
        .input-icon {
            color: $bg-d-1;
            transition: all .2s;
        }
    
        input {

            color: $white;
            border: none;
            background-color: transparent;
        }

        input::placeholder {

            color: $fg-d-3;
        }
    }
    
    .input-bar {

        &:focus-within {

            border: 1px solid $light-purple;
            outline: 2px solid $light-purple-t;
            
            .input-icon {
                color: $light-purple;
            }
        }
    }
}

body.light {

    .input-bar {

        border: 1px solid $bg-l-1;
        background-color: $bg-l-2;
        border-radius:    $radius;
        transition: all .2s;
        
        .input-icon {

            color: $bg-l-5;
            transition: all .2s;
        }
    
        input {

            color: $black;
            border: none;
            background-color: transparent;
        }

        input::placeholder {

            color: $bg-l-5;
        }
    }
    
    .input-bar {

        &:focus-within {

            border: 1px solid $light-purple;
            outline: 2px solid $light-purple-t;
            
            .input-icon {
                color: $light-purple;
            }
        }
    }
}