@import '/src/app/styles/global.scss';

.input-bar {

    display: flex;
    align-items: center;

    .input-icon {
        display: flex;
        align-items: center;
        font-size: .8em;
        padding: 5px;
    }

    input {
    }
}

body.dark {

    .input-bar {

        border: 1px solid $bg-d-1;
        background-color: $bg-d-2;
        border-radius:    $radius;
        transition: all .2s;
        
        .input-icon {
            color: $bg-d-1;
            transition: all .2s;
        }
    
        input {

            color: $white;
            border: none;
            background-color: transparent;
        }

        input::placeholder {

            color: $fg-d-3;
        }
    }
    
    .input-bar:hover .input-icon{

        color: $light-purple;
    }
}