@import '/src/app/styles/global.scss';

.box {

    display: flex;
    flex-direction: column;
    gap: 5px;

    .box-title {

        display: flex;
        justify-content: center;
        margin: 0;
    }

    .sidebar-box {

        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
        border-radius: $radius;
    
        .button {
            p { margin: 0; }
        }
    
        .projects {
    
            position: relative;
    
            .tag {
                position: absolute;
                top:   0;
                right: 0;
                font-size: .7em;
                padding: 2px;
            }
    
            .button {
                
                display: flex;
                word-break: break-all;
                margin: 5px;
            }
    
            .empty-content {
    
                display: flex;
                justify-content: center;
                padding: 20px;
                
                img {
                    width: 100%;
                    opacity: .08;
                }
            }
        }
    }
}


body.dark {

    .box {

        .box-title { color: $white; }

        .sidebar-box {

            border: 1px solid $bg-d-2;
            background-color: $bg-d-3;

            .button {
                
                border: none;

                outline: 1px solid $fg-d-3;
                border-bottom: 2px solid $bg-d-3;
                background-color: $bg-d-2;

                transition: all .2s;
            }

            .button-selected {
                
                border: none;

                outline: 1px solid $light-purple;
                border-bottom: 2px solid $bg-d-2;
                background-color: $bg-d-1;
            }

            .projects {

                .button {
                    color: $white;
                }
            }
        }
    }
}

body.light {

    .box {

        .box-title { color: $black; }

        .sidebar-box {

            border: 1px solid $bg-l-2;
            background-color: $bg-l-3;

            .button {
                
                border: none;

                outline: 1px solid $fg-l-3;
                border-bottom: 2px solid $bg-l-3;
                background-color: $bg-l-2;

                transition: all .2s;
            }

            .button-selected {
                
                border: none;

                outline: 1px solid $light-purple;
                border-bottom: 2px solid $bg-l-2;
                background-color: $bg-l-1;
            }

            .projects {

                .button {
                    color: $black;
                }
            }
        }
    }
}