@import '/src/app/styles/global.scss';

.sidebar-box {

    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    border-radius: $radius;

    .button {
        p { margin: 0; }
    }
}

body.dark {

    .sidebar-box {

        border: 1px solid $bg-d-2;
        background-color: $bg-d-3;

        .button {
            
            border: none;

            outline: 1px solid $fg-d-3;
            border-bottom: 2px solid $bg-d-3;
            background-color: $bg-d-2;
        }
    }
}

body.light {

    .sidebar-box {

        border: 1px solid $bg-l-2;
        background-color: $bg-l-3;

        .button {
            
            border: none;

            outline: 1px solid $fg-l-3;
            border-bottom: 2px solid $bg-l-3;
            background-color: $bg-l-2;
        }
    }
}