@import '/src/app/styles/global.scss';

.content {

    height: 100vh;
    width:  100vw;

    .box-container {

        display: flex;
        width:   100%;
        height:  100%;
        justify-content: center;
        align-items:     center;

        form {

            display: flex;
            flex-direction: column;
            padding: 10px;
            gap:     10px !important;
            width:   500px;
            margin:  0 10px;
            border-radius: $radius;

            .input-bar {

                display: flex;
                flex-direction: column;
                width: 100%;

                .inner-input {

                    svg {
                        font-size: 1.6em;
                    }

                    input[type='password'] {
                        letter-spacing: 0.125em;
                    }
                }
            }

            .buttons {
                display: flex;
                width:   100%;
                gap:     5px;

                button {
                    width:  100%;
                    height: 40px;
                }
            }

            p {
                display: flex;
                justify-content: center;

                a {
                    margin: 0 4px;
                }
            }
        }
    }
}

body.dark {

    .content {

        background-color: $bg-d-5;
    
        .box-container {
    
            form {

                background-color: $bg-d-4;
                border: 1px solid $bg-d-3;
    
                .input-bar {
    
                    label {
                        color: $fg-d-1;
                    }
    
                    .inner-input {
    
                        input {
                            color: $fg-d-1;
                        }

                        svg {

                            color: $fg-d-2;
                        }
                    }
                }
    
                p {
                    color: $white;
    
                    a {
                        color: $light-purple;
                    }
                }
            }
        }
    }
}

body.light {

    .content {

        background-color: $bg-l-5;
    
        .box-container {
    
            form {
    
                background-color: $bg-l-4;
                border: 1px solid $bg-l-3;

                .input-bar {
    
                    label {
                        color: $black;
                    }
    
                    .inner-input {
    
                        input {
                            color: $black;
                        }

                        svg {

                            color: $fg-l-2;
                        }
                    }
                }
    
                p {
                    color: $black;
    
                    a {
                        color: $light-purple;
                    }
                }
            }
        }
    }
}